.loginPage {
    display: flex;
    background-color: #F0F2F6;
    width: 100%;
    height: 100vh;
}
.loginPage .leftPart, .rightPart {
    flex: 6;
}

/* login left part */
.loginPage .leftPart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.loginPage .leftPart .logo {
    width: 300px;
}
.loginPage .leftPart .proposal {
    font-size: 24px;
    width: 50%;
    text-align: center;
    font-weight: 300;
}
/* ------------------ */

/* login right part */
.loginPage .rightPart {
    display: flex;
    align-items: center;
    padding: 10px
}
.loginPage .rightPart .loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}
.loginPage .loginForm .password, .email  {
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    margin-bottom: 20px;
    font-size: 20px;
    padding-left: 20px;
}

.loginPage .loginForm .email, .password:focus {
    outline: none;
}
.loginPage .loginBtn, .createBtn {
    height: 50px;
    border-radius: 10px;
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    border: none;
    margin-bottom: 15px;
    cursor: pointer;
}
.loginPage .loginBtn {
    background-color: #1875F0;
}
.loginPage .loginForm .createBtn {
    width: 70%;
    background-color: #40AB28;
    margin: auto;
}
.loginPage .forgetPassword {
    border:none;
    background-color: #fff;
    color: #1875F0;
    outline: none;
    font-size: 1rem;
    margin-bottom: 20px;
    cursor: pointer;
}
/* ---------------- */
