.register {
    display: flex;
    background-color: #F0F2F6;
    width: 100%;
    height: 100vh;
}
.register .leftPart, .rightPart {
    flex: 6;
}

/* login left part */
.register .leftPart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.register .leftPart .logo {
    font-size: 4rem;
    font-weight: 900;
    color: #1875F0;
}
.register .leftPart .proposal {
    font-size: 24px;
    width: 50%;
    text-align: center;
    font-weight: 300;
}
/* ------------------ */

/* login right part */
.register .rightPart {
    display: flex;
    /* justify-content: start; */
    align-items: center;
}
.register .rightPart .loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    width: 60%;
    padding: 30px;
    border-radius: 10px;
}
.register .registerForm .password, .email  {
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    margin-bottom: 20px;
    font-size: 20px;
    padding-left: 20px;
}

.register .registerForm .email, .password:focus {
    outline: none;
}
.register .loginBtn, .createBtn {
    height: 50px;
    border-radius: 10px;
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    border: none;
    margin-bottom: 15px;
    cursor: pointer;
}
.register .loginBtn {
    background-color: #1875F0;
}
.register .createBtn {
    width: 40%;
    background-color: #40AB28;
    margin: auto;
}
/* ---------------- */
