.shareContainer {
    border-radius: 15px;
    padding: 25px;
    box-shadow: 4px 4px 10px -2px rgba(0,0,0,0.33);
    -webkit-box-shadow: 4px 4px 10px -2px rgba(0,0,0,0.33);
    -moz-box-shadow: 4px 4px 10px -2px rgba(0,0,0,0.33);
    margin: 20px;
}

/* Share Upper Part */
.shareContainer .shareUpperPart .profileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}
.shareUpperPart {
    display: flex;
    align-items: center;
}
.shareUpperPart .shareInput {
    width: 90%;
    height: 30px;
    border: none;
}
.shareUpperPart .shareInput:focus {
    outline: none;
}
.shareUpperPart .shareInput::placeholder {
    font-size: .9rem;
}
/* ---------------- */

.shareHr {
    margin: 20px 0px;
}

/* Share Lower Part */

.shareOptions {
    display: flex;
    justify-content: space-around;
}
.shareOption {
    display: flex;
    align-items: center;
    margin-right: 40px;
    cursor: pointer;
}
.shareOption .shareOptionIcon {
    font-size: 30px;
    margin-right: 5px;
}
.shareOption .shareOptionText {
    font-weight: 500;   
}
.shareBtn {
    background-color: #1E8449;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    font-weight: 500;
    font-size: 1rem;
    color: #fff;
    border: none;   
    cursor: pointer; 
}
/* ---------------- */