/* sidebar friend list */
.friendListItem .friendImg {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}
.friendList {
    padding: 0;
    margin: 0;
}
.friendListItem {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}
.friendListItem:hover {
    background-color: gainsboro;
}
.friendListItem .friendName {
    margin-left: 8px;
}
/* ------------------- */